<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfServiceLibrary2.Service1">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="WcfServiceLibrary2.IService1"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
